.button {
  font: inherit;
  border: 1px solid #4f005f;
  background: black;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: lavender;

  border-color: red;
  color: black;
}

.button:focus {
  outline: none;
}
